
.card-title {
    padding: 10px;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border: 1px solid rgba(33, 40, 50, 0.125);
    font-size: 20px;
    font-weight: bold;

}

.name-card {
    width: 200px;
    float: left;
    margin: 10px 0 10px 20px;
}

.name-title {
    display: block;
}

.name-form {
    width: 100%;
    display: block;
}

.settings-form {
    width: 70%;
    display: block;
}

.confirm-button {
    color: white;
    background-color: #0061f2;
    padding: 5px;
    width: 150px;
    margin: 10px;
}

.confirm-button:hover {
    background-color: #2358a7;
}

.saved-cards-button {
    background-color: #7ca5e4;
    padding: 1%;
    margin: 1%;
    margin-right: 2%;
    float: right;
}

.saved-cards-button:hover {
    color: black;
    background-color: #2358a7;
}

.cancel-button {
    border: 2px solid #0061f2;
    border-radius: 5px;
    padding: 5px;
    color: #0061f2;
    font-weight: bold;
    margin: 0 15px 0 20px;
}

.cancel-button:hover {
    color: white;
    background-color: #0061f2;
}

.settings-card {
    width: 100%;
    float: left;
    margin: 10px 0 10px 20px;
}

.settings-box {
    border: 5px solid rgba(33, 40, 50, 0.125);
    border-radius: 5px;
    width: 60%;
    margin: 80px auto 80px auto;
}
