body {
    text-align: center;
}

.check-confirm-title {
    text-decoration: none;
    font-size: 35px;
    padding: 30px 0 20px 0;
}

.order-summary-poster {
    width: 40%;
    height: 50%;
    margin: 10px auto;
}

.order-detail-title {
    font-size: 20px;
    padding: 20px 0 20px 0;
    font-weight: bold;
}

.order-movie-title {
    text-decoration: none;
    font-size: 25px;
}

.order-movie-details {
    margin: 10px 0 30px 0;
}

.return-home {
    background-color: #0061f2;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 30px;
}

.return-home:hover {
    background-color: #2358a7;
}

.order-summary {
    border-color: black;
    border-width: 2px;
    padding: 20px 50px 30px 50px;
    margin: 0px auto 40px auto;
    width: 50%;
}