.box {
    border: 3px solid black;
    width: 90%;
    height: fit-content;
    padding: 10px;
    margin: 30px 30px 30px 30px;
  }

  .inner {
    text-align: left;
    font-size: larger;
    display: flex;
  }

  .movie-title {
    font-weight: bold;
    font-size: 25px;
  }

  .left {
    padding: 10px;
  }

  .poster {
    height: 200px;
    border-radius: 10px;
    float: left;
  }

  .right {
    float: right;
    padding: 15px;
  }