.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #caced4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 7%;
  }
  
  .movie-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(153, 157, 163);
    border-radius: 5px;
    border: 1px solid white;
  }
  
  .movie-title {
    margin-top: 10px;
  }
  
  .ticket-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .ticket-heading {
    margin-bottom: 10px;
  }
  
  .ticket-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ticket-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ticket-quantity {
    font-weight: bold;
  }
  
  .ticket-price {
    color: green;
  }
  
  .total {
    font-weight: bold;
  }

  .movie-poster {
    height: 8rem;
  }

  .confirm-button {
    background-color: rgb(73, 73, 90);
    height: 3rem;
  }

  .confirm-button:hover {
    background-color: rgb(37, 37, 51);
  }

  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 28%;
  }

  .cancel-button {
    background-color: rgb(157, 81, 81);
    height: 2rem;
    margin: 5%;
    color: white;
    border: 1px solid black;
  }

  .cancel-button:hover {
    background-color: rgb(156, 48, 48);
  }

  .update-button {
    background-color: rgb(104, 141, 104);
    height: 2rem;
    width: 8%;
    margin: 5%;
    color: white;
    border: 1px solid black;
  }
  
  .update-button:hover {
    background-color: rgb(49, 106, 49);

  }