body {
    text-align: center;
    align-items: center;
}

.verify-title {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    padding: 130px 0 20px 0;
}

.verify-box {
    margin: auto;
    width: 50%;
    width: 300px;
}

.verify-link-box {
    margin: 30px;
}

.verify-link {
    margin: 15px;
    padding: 12px;
    width: 90px;
    border-radius: 15px;
    background-color: #0061f2;
    color: white;
    font-weight: bold;
}

.verify-link:hover {
    background-color: #2358a7;
}

.resend {
    color: #0061f2;
    padding: 6px;
    border: none;
    background: none;
    outline: none;
}

.resend:hover {
    background-color: white;
    color: #2358a7;
}


