.flex-container {
    display: flex;
}

.flex-child {
    border: 3px solid rgba(33, 40, 50, 0.125);
    margin: 2vh 0vh 2vh 2vh;
    height: 85vh;
    width: 20%;
    float: left;
    position: fixed;
}

.user-name {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

.user-desc {
    text-align: center;
    margin: 20px 20px 35px 20px;
}

.user-button {
    border-radius: 12px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #0061f2;
}

.user-button:hover {
    background-color: rgb(67, 67, 178);
}

.order-container {
    margin: 3vh 0 5vh 50vh;

}

.upcoming {
    width: 80%;
}

.upcoming-box {
    border: 3px solid rgba(33, 40, 50, 0.125);
    display: flex;
    padding: 20vh 80vh 60vh 70vh;
}

.movie-ticket {
    border: 3px solid rgba(33, 40, 50, 0.125);
}

.past {
    width: 80%;
}

.past-box {
    border: 3px solid rgba(33, 40, 50, 0.125);
    display: flex;
    padding: 20vh 80vh 60vh 70vh;
}

.order-title {
    text-decoration: none;
    font-size: 25px;
    float: left;
    margin: 15px 0px 5px 0px;
}

.profile-picture {
    border: 3px solid rgba(33, 40, 50, 0.125);
    width: 20vh;
    height: 20vh;
    margin: 30px 0 15px 80px;
    border-radius: 100px;
}

